body {
  font-family: 'Lora', 'Georgia', serif;
  color: #1a0f0a;
  background-color: #f4f4f4;
  background-image: url('img/pattern.png');
  background-repeat: repeat;
}

.side-icons-container {
  position: fixed;
  top: 145px;
  display: block;
}

.side-icons-container > a > img {
  display: block;
  padding: 10px 10px 0px 10px;
}

.nav-container {
  width: 80%;
  text-align: center;
  display: block;
  margin: 30px auto 30px auto;
}

.nav-container ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.nav-container li {
  float: left;
  padding-right: 35px;
  font-size: 24px;
}

.centre {
  text-align: center;
}

.hide {
  display: none;
}

.logo {
  display: block;
  width: 12%;
  margin: 35px auto 20px auto;
  clear: both;
}

.name-container {
  margin: 0 auto;
  width: 250px;
  font-size: 38px;
  text-align: center;
}

.text-container {
  margin: 30px 0px;
}

.text-container .text {
  margin: 0 auto;
  padding: 20px 0px;
  width: 60%
}

.bold {
  font-weight: 700;
}

.nav-container a {
  border-color: rgba(26, 15, 10, 0);
  -webkit-transition: border-color 0.7s;
  transition: border-color 0.7s;
}

.nav-container a.selected {
  border-width: 1px 0px;
  border-style: solid;
  border-color: rgb(26, 15, 10);
  border-color: rgba(26, 15, 10, 1);
}

.nav-container a:hover {
  border-width: 1px 0px;
  border-style: solid;
  border-color: rgba(26, 15, 10, 1);
}

.seperator {
  margin: 0 auto;
  width: 80px;
  border-top: 1px solid #1a0f0a;
}

@media screen and (max-width: 950px) {
  .side-icons-container {
    position: absolute;
    top: 50px;
  }

  .text-container .text {
    width: 80%;
  }

  .logo {
    width: 20% !important;
  }

  .nav-container li {
    float: none;
    padding: 5px 0px;
  }
}

.nav-container li a {
  text-decoration: none;
  color: #1a0f0a;
}
